body {
  font-family: Georgia;
  background-color: lightblue;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* .nav-container {
  display: flex;
  justify-content: center;
  
} */

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: dotted;
}

form div {
  margin: 1em;
  display: inline-block;
}
